{% load fb_versions %}
<div class="grid_{{ sira_grid  }}">
 <div class="grid_{{ sira_grid }} sprites sprites-{% if sira == 2 %}yarim{% else %}tam{% endif %}_ust-png"></div>
 <div class="grid_{{ sira_grid }} {% if sira == 1 %}one{% else %}two{% endif %}">
  <div class="grid_{{ sira_grid_inner }} push_{{ sira_grid_push }}">
   <div class="grid_{{ sira_grid_inner }} centered">
    {% if seri == 'ortak' %}
        <div class='topd'></div>
    {% else %}
        <img src="{{ STATIC_URL }}resim/{{ seri }}.jpg"/>
    {% endif %}
   </div>
   {% for urun in urun_listesi %}
   {% if sira == 2 %}
   {% cycle '<div class="grid_26">' '' %}
   {% else %}
   {% cycle '<div class="grid_52">' '' '' '' %}
   {% endif %}
   <div class="grid_13 {% if sira == 1 %}{% cycle 'alpha' '' '' 'omega' %}{% else %}{% cycle 'alpha' 'omega' %}{% endif %} centered">
    <div class="grid_13 topd"></div>
    <div class="grid_13">
     <a href='/urun/{{ urun.slug }}'><img src="{% version urun.resim.path 'urun_ufak' %}"/></a>
    </div>
    <div class="grid_13" style='margin-top:10px;'><a href='/urun/{{ urun.slug }}' style='text-decoration:none;color:black;'>{{ urun.isim }}</a></div>
   </div> 
   {% if sira == 2%}
   {% cycle '' '</div>' %}
   {% else %}
   {% cycle '' '' '' '</div>' %}
   {% endif %}
   {% endfor %}
   {% if not urun_listesi.count|divisibleby:'2' or sira != 2 and urun_listesi.count == 2 %}</div>{% endif %}
  </div>
 </div>
 <div class="grid_{{ sira_grid }} sprites sprites-{% if sira == 2 %}yarim{% else %}tam{% endif %}_alt-png"></div>
</div>

