{% extends 'taban.html' %}

{% block baslik %}Sesli ve Görüntülü Sistemler - Audio Elektronik{% endblock %}
{% block aciklama %}Sistemler görüntülü yada görüntüsüz ünitelerinizin kabiliyetlerini ve kurulum için gerekli altyapıyı belirler. Audio' nun her türlü ihtiyaç için sistemi vardir.{% endblock %}

{% block icerik %}
{% include 'tekli_ac.html' %}
  <div class="grid_52 push_2">
   <div class="grid_52">
    <h2>Sistemler</h2>
   </div>
   {% include 'sistem_liste.html' with tip='Görüntülü' sistemler=goruntulu class='alpha' %}
   {% include 'sistem_liste.html' with tip='Sesli' sistemler=sesli class='omega' %}
  </div>
{% include 'tekli_kapat.html' with clear=True %}
{% endblock %}
