{% load fb_versions %}
<div class="grid_26 {{ class }}">
 <div class='grid_26'>
  <strong>{{ tip }} Sistemler</strong>
 </div>
 <div class='grid_26' style='height:10px'></div>
 {% for sistem in sistemler %}
 <div class="grid_26">
  <div class="grid_7 alpha">
   <a href={% if sistem.sema %}"{{ sistem.sema.url }}" class="tek_resim"{% else %}"#" style="cursor:default;" onclick="return false;"{% endif %}><div class="systems systems-{{ sistem.resim.filename_root }}_sistem_ufak-{{ sistem.resim.extension|cut:'.' }}"></div></a>
  </div>
  <div class="grid_18 omega">
   {{ sistem.aciklama }}
  </div>
 </div>
 <div class='grid_26 topd'></div>
 {% endfor %}
</div>
