{% extends 'taban.html' %}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/varsayilan.css" />
<title>Audio Elektronik | Sistemler</title>
{% endblock %}

{% block icerik %}
{% include 'tekli_ac.html' %}
  <div class="grid_52 push_2">
   <div class="grid_52">
    <h2>Sistemler</h2>
   </div>
   {% include 'sistem_liste.html' with tip='Görüntülü' sistemler=goruntulu class='alpha' %}
   {% include 'sistem_liste.html' with tip='Sesli' sistemler=sesli class='omega' %}
  </div>
{% include 'tekli_kapat.html' with clear=True %}
{% endblock %}
