{% extends 'taban.html' %}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/varsayilan.css" />
<title>Audio Elektronik | Sistemler</title>
{% endblock %}

{% block icerik %}
<div class="grid_56">
 <div class="grid_56"><img src="{{ STATIC_URL }}resim/b1_top.jpg" /></div>
 <div class="grid_56 one">
  <div class="grid_52 push_2">
   <div class="grid_52">
    <h2>Sistemler</h2>
   </div>
   {% include 'sistem_liste.html' with tip='Görüntülü' sistemler=goruntulu class='alpha' %}
   {% include 'sistem_liste.html' with tip='Sesli' sistemler=sesli class='omega' %}
  </div>
 </div>
 <div class="grid_56"><img src="{{ STATIC_URL }}resim/b1_bottom.jpg" /></div>
</div>
<div class="clear"></div>
{% endblock %}
