#yeni_urunler > div {
	position: absolute;
	visibility: hidden;
}

#yeni_urunler > div:first-child {
	visibility: visible;
}


#haberler > div {
	position: absolute;
	visibility: hidden;
}

#haberler > div:first-child {
	visibility: visible;
}

