.form ol, .form ul {
    list-style:none;
}

.form li {
    margin-bottom:5px;
}

.form label {
    position:absolute;
    width:90px;
    text-align:right;
}

.form input, .form select, .form textarea {
    margin-left:100px;
    width:300px;
    vertical-align:top;
    position:relative;
}

.form td {
    width: 70px;
}

.errorlist{
    list-style: none;
    margin-bottom: 0px;
    margin-left: 100px;
    color: #FF0000;
    font-style: italic;
}

.errorlist li{
    margin-bottom: 0px;
}

#mesaj{
    margin-left: 100px;
}
