/* Generated classes for django-media-bundler sprites.  Don't edit! */

.news {
     background-image: url('http://s.aucdn.net/resim/newswb6f9b.png');
}

.news-fy211211_haber_ufak-jpg {
     width: 39px;
     background-position: 0px 0px;
     height: 55px;
}

.news-esra_haber_ufak-png {
     width: 39px;
     background-position: -39px 0px;
     height: 55px;
}

.news-el_ilani_haber_ufak-png {
     width: 39px;
     background-position: -78px 0px;
     height: 55px;
}

.news-fuar2011_haber_ufak-jpg {
     width: 65px;
     background-position: 0px -55px;
     height: 48px;
}

.news-basic_kd_haber_ufak-jpg {
     width: 65px;
     background-position: -65px -55px;
     height: 41px;
}

.news-konsept_slim_tuslu_haber_ufak-jpg {
     width: 65px;
     background-position: 0px -103px;
     height: 41px;
}

.news-model_g_haber_ufak-jpg {
     width: 65px;
     background-position: -65px -103px;
     height: 37px;
}

.news-bus_plus_haber_ufak-jpg {
     width: 65px;
     background-position: 0px -144px;
     height: 22px;
}

.news-bus_plus_haber_ufak-jpg {
     width: 65px;
     background-position: -65px -144px;
     height: 22px;
}

.news-sunum_kiti_haber_ufak-jpg {
     width: 65px;
     background-position: 0px -166px;
     height: 22px;
}

.news-bus_plus_haber_ufak-jpg {
     width: 65px;
     background-position: -65px -166px;
     height: 22px;
}

.news-bus_plus_n_haber_ufak-jpg {
     width: 65px;
     background-position: 0px -188px;
     height: 18px;
}
