/* Generated classes for django-media-bundler sprites.  Don't edit! */

.panels {
     background-image: url('http://c415788.r88.cf3.rackcdn.com/resim/panelsca4f00c83951.png');
}

.panels-dijital_lux_panel_panel_ufak-jpg {
     width: 44px;
     background-position: 0px 0px;
     height: 110px;
}

.panels-basic_goruntulu_butonlu_panel_ufak-jpg {
     width: 44px;
     background-position: -44px 0px;
     height: 110px;
}

.panels-basic_goruntusuz_panel_ufak-jpg {
     width: 44px;
     background-position: -88px 0px;
     height: 110px;
}

.panels-basic_dijital_goruntulu_panel_ufak-jpg {
     width: 40px;
     background-position: -132px 0px;
     height: 110px;
}

.panels-basic_karma_goruntulu_n_panel_ufak-jpg {
     width: 40px;
     background-position: 0px -110px;
     height: 110px;
}

.panels-konsept_dijital_goruntulu_panel_ufak-jpg {
     width: 38px;
     background-position: -40px -110px;
     height: 110px;
}

.panels-konsept_goruntusuz_panel_ufak-jpg {
     width: 33px;
     background-position: -78px -110px;
     height: 110px;
}
