/* Generated classes for django-media-bundler sprites.  Don't edit! */

.products {
     background-image: url('http://s.aucdn.net/resim/productsawueem.png');
}

.products-audio-1-siyah_taa_yeni_ufak-jpg {
     width: 50px;
     background-position: 0px 0px;
     height: 75px;
}

.products-vision_yeni_ufak-jpg {
     width: 33px;
     background-position: -50px 0px;
     height: 75px;
}

.products-city_yeni_ufak-jpg {
     width: 26px;
     background-position: -83px 0px;
     height: 75px;
}

.products-crea_tek_yeni_ufak-jpg {
     width: 26px;
     background-position: -109px 0px;
     height: 75px;
}

.products-bronz_yeni_ufak-jpg {
     width: 90px;
     background-position: -135px 0px;
     height: 74px;
}

.products-bronz_yeni_ufak-jpg {
     width: 90px;
     background-position: 0px -75px;
     height: 74px;
}

.products-btn-siyah_yeni_ufak-jpg {
     width: 90px;
     background-position: -90px -75px;
     height: 64px;
}

.products-beyaz_yeni_ufak-jpg {
     width: 90px;
     background-position: 0px -149px;
     height: 61px;
}

.products-siyah_yeni_ufak-jpg {
     width: 90px;
     background-position: -90px -149px;
     height: 61px;
}

.products-beyaz_yeni_ufak-jpg {
     width: 90px;
     background-position: 0px -210px;
     height: 61px;
}

.products-beyaz_tus_takimsiz_yeni_ufak-jpg {
     width: 90px;
     background-position: -90px -210px;
     height: 53px;
}

.products-43_villa_n61_yeni_ufak-jpg {
     width: 90px;
     background-position: 0px -271px;
     height: 41px;
}
