/* Generated classes for django-media-bundler sprites.  Don't edit! */

.products {
     background-image: url('http://s.aucdn.net/resim/productsfa73ae62017a.png');
}

.products-basic_goruntulu_butonlu_yeni_ufak-jpg {
     width: 30px;
     background-position: 0px 0px;
     height: 75px;
}

.products-basic_karma_goruntulu_n_yeni_ufak-jpg {
     width: 27px;
     background-position: -30px 0px;
     height: 75px;
}

.products-konsept_dijital_goruntulu_yeni_ufak-jpg {
     width: 26px;
     background-position: -57px 0px;
     height: 75px;
}

.products-konsept_slim_tuslu_yeni_ufak-jpg {
     width: 90px;
     background-position: 0px -75px;
     height: 56px;
}

.products-basic_gdm_tus_35_yeni_ufak-jpg {
     width: 90px;
     background-position: 0px -131px;
     height: 55px;
}

.products-konsept_gdm_gold_tuslu_yeni_ufak-jpg {
     width: 90px;
     background-position: 0px -186px;
     height: 54px;
}

.products-konsept_diafon_tuslu_yeni_ufak-jpg {
     width: 90px;
     background-position: 0px -240px;
     height: 50px;
}
