/* Generated classes for django-media-bundler sprites.  Don't edit! */

.sprites {
     background-image: url('http://s.aucdn.net/resim/sprites9c7592e6a1fc.png');
}

.sprites-ceyrek-png {
     width: 238px;
     background-position: 0px 0px;
     height: 264px;
}

.sprites-ceyrek_yarim-png {
     width: 238px;
     background-position: -238px 0px;
     height: 132px;
}

.sprites-logo-jpg {
     width: 300px;
     background-position: -476px 0px;
     height: 77px;
}

.sprites-button-png {
     width: 104px;
     background-position: -776px 0px;
     height: 34px;
}

.sprites-ceyrek_yarim_orta-png {
     width: 238px;
     background-position: 0px -264px;
     height: 76px;
}

.sprites-yarim_alt-png {
     width: 476px;
     background-position: -238px -264px;
     height: 60px;
}

.sprites-ceyrek_yarim_ufak-png {
     width: 238px;
     background-position: -714px -264px;
     height: 56px;
}

.sprites-tam_alt-png {
     width: 952px;
     background-position: 0px -340px;
     height: 60px;
}

.sprites-bottom-jpg {
     width: 1000px;
     background-position: 0px -400px;
     height: 41px;
}

.sprites-tam_ust-png {
     width: 952px;
     background-position: 0px -441px;
     height: 21px;
}

.sprites-yarim_ust-png {
     width: 476px;
     background-position: 0px -462px;
     height: 21px;
}
