/* Generated classes for django-media-bundler sprites.  Don't edit! */

.systems {
     background-image: url('http://s.aucdn.net/resim/systems42fcee47494b.png');
}

.systems-bus_plus_sistem_ufak-jpg {
     width: 110px;
     background-position: 0px 0px;
     height: 37px;
}

.systems-8_nd_sistem_ufak-jpg {
     width: 110px;
     background-position: 0px -37px;
     height: 37px;
}

.systems-4_nft_sistem_ufak-jpg {
     width: 110px;
     background-position: 0px -74px;
     height: 37px;
}

.systems-4_net_sistem_ufak-jpg {
     width: 110px;
     background-position: 0px -111px;
     height: 37px;
}

.systems-4_nd_sistem_ufak-jpg {
     width: 110px;
     background-position: 0px -148px;
     height: 37px;
}

.systems-bus_plus_n_sistem_ufak-jpg {
     width: 110px;
     background-position: 0px -185px;
     height: 31px;
}
