body {
	background-color:	#bababa;
}

#afis > img {
	position: absolute;
	visibility: hidden;
}

#afis > img:first-child {
	visibility: visible;
}

#bkground {
	background-size: 	100%;
	margin:		    	0 auto;
	width:		    	1000px;
	background-image:	url('/statik/resim/back.jpg');
	background-repeat: 	repeat-y;
}


.centered {
	text-align: 		center; 
}

.menu {
	margin-left: 		2px;
	font-weight:		bold;
	text-align:	    	center;
	height:		    	34px;

}

.ust-ilk {
	margin-left:		46px;
}

.alt-ilk {
	margin-left:		0px;
}

.alt-son {
	width:		    	316px;
	background:	    	#000000;
}

.topd {
	height:	    		16px;
}

.harita {
	height:		    	43px;
}


#ust_son {
    margin-right:       0px;
}

li {
	margin-left:		0px;
}

div.spacer {  
	height:     		10px;  
}  

div.ust_menu {  
	position:   		absolute;
	bottom:	    		0;
}  

.one {
	background-size: 	100%;
	margin:		    	0 auto;
	background-image:	url('/statik/resim/tam_orta.png');
	background-repeat: 	repeat-y;
}

.two {
	background-size: 	100%;
	margin:		    	0 auto;
	background-image:	url('/statik/resim/yarim_orta.png');
	background-repeat: 	repeat-y;
}

h3{
    margin:             0px;
}

.capitalize {
    text-transform:     capitalize;
}

.sade_link {
    text-decoration:    none;
    color:              #000000;
}


.sf-menu {
	float:		     	right;
	margin-bottom:		0px;
}

.sf-menu a, .sf-menu a:visited {
	color:	    		#ffffff;
}

.sf-menu li {
	color:	    		#ffffff;
	width:	    		104px;
    height:             34px;
    margin-right:       2px;
}

.sf-menu li li {
    background-color:   #b40404;  
}

.sf-menu li li li {
    background-color:   #df0101;
}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:	    	#000000;
	outline:	    	0;
}

.sf-menu a {
    color:              #ffffff;
    border-left:        0;
    border-top:         0;
    padding:            0.75em 0em;
    text-align:         center;
}

.sf-menu li li a, .sf-menu li li li a {
    color:              #ffffff;
    border-left:        0;
    border-top:         0;
    padding:            0.75em 0em 0.75em 0.5em;
    text-align:         left;
}

#son_buton {
    background-image:   none;
	background-color:   #000000;
	color:	    		#ffffff;
	width:	    		212px;
	height:	    		34px;
    margin-right:       13px;
    margin-left:91px;
}

#son_buton a:hover {
    background-image:   none;
    background-color:   transparent;
}

