.centered {
    text-align:         center; 
}

h3{
    margin: 0px;
}

.capitalize {
    text-transform:     capitalize;
}

.sade_link {
    text-decoration:    none;
    color:              #000000;
}
