{% extends 'taban.html' %}

{% block baslik %}Teklif İstek Formu - Audio Elektronik{% endblock %}
{% block aciklama %}Teklif formu ile isteginizi bize bildirebilirsiniz.{% endblock %}
{% block icerik %}
{% include 'ikili_ac.html' %}
 <div class="grid_28 centered capitalize"><h2>{{ tip }} Formu</h2></div>
 {% include 'form.html' with grid=26 push=1 class='form' %}
{% include 'ikili_kapat.html' %}

{% include 'ikili_ac.html' %}
 <div class="grid_28 centered">
  <h2>2 Dakikada Herşey Dahil Teklif</h2>
  <strong>Aşağıdaki resime tıklamanız yeterli</strong>
  <a href="/teklif-istiyorum/">
      <img id="teklif-istiyorum" src="{{ STATIC_CODE }}resim/auto_offer/se/preview_teklif.png">
  </a>
 </div>
{% include 'ikili_kapat.html' %}

{% include 'ikili_ac.html' %}
 <div class="grid_28 centered">
  <h2>Müşteri Temsilciniz</h2>
  <strong>Öğrenmek İstiyorsanız Lutfen Şehrinizi Seçin</strong>
 </div>
 {% include 'temsilci.html' with push=6 grid=16 %}
{% include 'ikili_kapat.html' with clear='true' %}

{% endblock %}




