{% extends 'taban.html' %}

{% block head %}
<link rel='stylesheet' href="{{ STATIC_URL }}css/form.css" />
{% endblock %}

{% block icerik %}

{% include 'ikili_ac.html' %}
 <div class="grid_28 centered capitalize"><h2>{{ tip }} Formu</h2></div>
 {% include 'form.html' with grid=26 push=1 class='form' %}
{% include 'ikili_kapat.html' %}

{% include 'ikili_ac.html' %}
 <div class="grid_28 centered">
  <h2>Müşteri Temsilciniz</h2>
  <strong>Öğrenmek İstiyorsanız Lutfen Şehrinizi Seçin</strong>
 </div>
 {% include 'temsilci.html' with push=6 grid=16 %}
{% include 'ikili_kapat.html' with clear='true' %}

{% endblock %}




