{% load comments %}
<div class='istek'>
 <div style='padding:10px;margin-top:10px;'>
  <strong><a href='/takip/{{ bilgi.pk }}'>{{ bilgi.pk }}</a> numarali musteri istegi - {{ bilgi.tarih }}</strong>
  <div>
   <ol>
    {% if bilgi.isim %}
    <li>
     <label>Isim:</label>
     <span>{{ bilgi.isim }}</span>
    </li>
    {% endif %}
    {% if bilgi.email %}
    <li>
     <label>E-posta:</label>
     <span>{{ bilgi.email }}</span>
    </li>
    {% endif %}
    {% if bilgi.sehir %}
    <li>
     <label>Sehir:</label>
     <span>{{ bilgi.sehir }}</span>
    </li>
    {% endif %}
    {% if bilgi.firma %}
    <li>
     <label>Firma:</label>
     <span>{{ bilgi.firma }}</span>
    </li>
    {% endif %}
    {% if bilgi.telefon %}
    <li>
     <label>Telefon:</label>
     <span>{{ bilgi.telefon }}</span>
    </li>
    {% endif %}
    {% if bilgi.mesaj %}
    <li>
     <label>Mesaj:</label>
     <div style='margin-left:80px'>{{ bilgi.mesaj }}</div>
    </li>
    {% endif %}
    {% if bilgi.sorumlu.all %}
    <li>
     <label>Sorumlular:</label>
      {% for sorumlu_kisi in bilgi.sorumlu.all %}
      <span>{{ sorumlu_kisi.first_name }} {{ sorumlu_kisi.last_name }} - {{ sorumlu_kisi.profile.gorev }}<br/></span>
      {% endfor %}
    </li>
    {% endif %}
    {% if bilgi.teklif %}
    <li>
     <label>Durum:</label>
     <span style='font-style:italic;'>{% if bilgi.teklif.durum %}{{ bilgi.teklif.durum }}{% else %}Eylem Yapılmadi{% endif %}</span>
    </li>
    {% endif %}
    </ol>
  </div>
  {% get_comment_count for bilgi as yorum_sayisi %}
  {% ifnotequal yorum_sayisi 0 %}
  <strong>Yorumlar</strong>
  {% get_comment_list for bilgi as yorumlar %}
  <ol>
   {% for yorum in yorumlar %}
   <li>{{ yorum.submit_date }} - {{ yorum.user.first_name }} {{ yorum.user.last_name }}</li>
   <li><p>{{ yorum.comment }}</p></li>
   {% endfor %}
  </ol>
  {% endifnotequal %}
  <p onClick='$(this).next().toggle("slow");' style='cursor:pointer;text-decoration:underline;'>Yorum yazmak icin tiklayin</p>
  <div {% if yorum_formu_goster == 'False' %}style='display:none;'{% endif %}>
   {% block icerik %}
   {% render_comment_form for bilgi %}
   {% endblock icerik %}
  </div>
 </div>
</div>

