<form method='POST' action='/teklif/form/' enctype='multipart/form-data' encoding='multipart/form-data'>
	{% csrf_token %}
	<input style='float:right;' type='submit' class='btn primary' value='Yolla'>
	{% for field in form %}
	<div class='clearfix {% if field.errors %}error{% endif %} 
				{% if field.label == 'Kullanici' or field.label == 'Durum' or field.label == 'Teklif' %}
				hide{% endif %}'>
		{{ field }}
		<span class='help-block'>{{ field.errors.0 }}</span>
	</div>
	{% endfor %}
</form>
