<dl>
	{% for yapildi in yapilanlar %}
	<dt class='twipsy-label'>{{ yapildi.kullanici.get_full_name }} - {{ yapildi.tarih|date:'d F H:i' }}</dt>
	<dd>
		<ul class='unstyled'>
			<li>
				<span class='twipsy-text yapildi-label'>Dosya:</span>
				<a href='{{ yapildi.dosya.url }}' target='_blank'>{{ yapildi.dosya.name|cut:'yukleme/teklif/' }}</a>
			</li>
			<li>
				<span class='twipsy-text yapildi-label'>Iscilik:</span>
				<span class='twipsy-text'>{{ yapildi.iscilik|default:'girilmemis' }}</span>
			</li>
			<li>
				<span class='twipsy-text yapildi-label'>Baglanti:</span>
				<span class='twipsy-text'>{{ yapildi.baglanti|default:'girilmemis' }}</span>
			</li>
		</ul>
	<dd>
	{% endfor %}
<dl>
