{% load truncate %}
{% load humanize %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Audio Elektronik</title>
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel='stylesheet' href='{{ STATIC_URL }}css/bootstrap.css'>
	<style type='text/css'>
			
		ul.unstyled {
			margin: 0;
		}
		#main {
			margin-bottom: 200px;
		}
		.twipsy-inner {
			text-align: left;
		}
		.twipsy-inner dl{
			margin-bottom: 0;
		}
		.twipsy-label {
			color: #ffc40d;
			font-weight: bold;
		}
		.twipsy-text {
			color: #ffffff;
		}
		.yapildi-label {
			font-weight: bold;
		}
		.popover form {
			margin-bottom: 0px;
		}
		.edit, .close, .dosya-dialog, .durum-dialog {
			cursor: pointer;
		}
		.eylem-yaplmad {
			background-color: #000000;
		}
		.teklif-verildi, .yonlendirildi{
			background-color: #62cffc;
		}
		.delege-edildi {
			background-color: #f89406;
		}
		.iptal, .isi-aldk {
			background-color: #46a546;
		}
		.isi-kaybettik {
			background-color: #c43c35;
		}
		.iletisime-gecildi {
			background-color: #87afc7;
		}
		.new-header {
			cursor: pointer;
		}
		.pk .static {
			font-weight:bold;
		}
		#loading {
			position: absolute;
		}
		.popover {
			z-index: 1200;
		}
		.topbar {
			z-index: 1000;
		}
		table .headerSortDown{
			background-color:#ADE6FE;
		}
		table .headerSortUp{
			background-color:#ADE6FE;
		}
		form .clearfix {
			margin-bottom: 4px;
		}
		body {
			padding-top: 60px;
		}
	</style>

	<script type='text/javascript' src='{{ STATIC_URL }}js/jquery-1.7.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}js/bootstrap-twipsy.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}js/bootstrap-popover.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}js/bootstrap-dropdown.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}js/bootstrap-alerts.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}js/jquery.quicksearch.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}js/jquery.tablesorter.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}js/jquery.form.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}js/jquery.color.js'></script>
	<script type='text/javascript'>
        var search_isim_mesaj;
        var search_dosya;
        var search_durum;
        var search_daire;
        var search_tutar;
        var search_tarih;
        var search_sehir;
        var sort_table;


        //testQuery smart return to remember who hid the element (to chain filter)
        function smart_return(search, value, row){
            var hiders = row.attr('data-hiders') ? row.attr('data-hiders') : '';
            var is_hider = hiders.indexOf(search.selector) != -1 ? true : false;
            var same = hiders == search.selector ? true : false;
            if(value){
                if(hiders.length){
                    if(!same){
                        value = false
                    }
                    if(is_hider){
                        hiders = hiders.replace(search.selector,'')
                        row.attr('data-hiders', hiders);
                    }
                }
            } else {
                if(!is_hider){
                    row.attr('data-hiders', hiders + search.selector);
                }
            }
            return value;
        }


        //Text testQuery with chain support and '||' based
        function text_test(query, txt, _row){
            var check_first = query[0]
            if(check_first == '-'){
                return smart_return(this, true, $(_row))
            }
            for (var i = 0; i < query.length; i += 1) {
                if (txt.indexOf(query[i]) != -1) {
                    return smart_return(this, true, $(_row))
                }
            }
            return smart_return(this, false, $(_row))
        }

        //Combined boolean and number testQuery for quicksearch
        function number_bool_test(query, txt, _row) {  
            var to_return;
            query = query[0];
            if(query == 'true' || query == 'false'){
                if(query == 'true' && txt != 'x'){
                    to_return = true;
                } else if(query == 'false' && txt == 'x'){
                    to_return = true;
                } else {
                    to_return = false;
                }
                return smart_return(this, to_return, $(_row));
            }

            var operation = query[0];
            var compare = Number(query.replace(query[0],''));
            var value = Number(txt.replace(',',''));
            if(query != '-'){
                if(operation == '<' && value < compare){
                    to_return = true;
                } else if(operation == '>' && value > compare){
                    to_return = true;
                } else {
                    to_return = false;
                }
            } else {
                to_return = true;
            }
            return smart_return(this, to_return, $(_row));
        }   
   
        //Boolean testQuery for quicksearch 
        function bool_test(query, txt, _row) {
            var to_return;
            query = query[0];
            if(query != '-'){
                if(query == 'true' && txt != 'x'){
                    to_return = true;
                } else if(query == 'false' && txt == 'x'){
                    to_return = true;
                } else {
                    to_return = false;
                }
            }
            else{
                to_return = true;
            }
            return smart_return(this, to_return, $(_row));
        }

        //Default search options for quicksearch
        var def_search_opts = {
            onAfter: function(){update_sum();update_stripe();}, 
            hide: function(){$(this).prop('class','hide')}, 
            show: function(){$(this).prop('class','')},
            loader: 'img.loading',
            bind: 'keyup change',
            delay: 300,
        }

        //Flashes a given row
        function blink(row_pk){
            var row = $('tr[data-pk="' + row_pk + '"]');
            if(row.length){
                var current = $('tr[data-pk="' + row_pk + '"]').css('background-color');
                row.css('background-color', '#82ff82');
                row.animate({'background-color': current}, 1500, function(){ 
					row.css('background-color', '#82ff82');
					row.animate({'background-color':current}, 1500);
				});
            }
        }

        //Scrolls to a given row
        function attention(row_pk){
            var row = $('tr[data-pk="' + row_pk + '"]');
            if(row.length){
                $('html, body').animate({
                    scrollTop: row.offset().top - 110
                }, 500);
                blink(row_pk);
            }
        }

        //Loading animation for a given element
        function loading(element){
            element.children().each(function(){$(this).css('opacity',0.2);});
            element.prepend('<img alt="yukleniyor" id="loading" src="http://s.aucdn.net/resim/ajax-loader.gif" />');
        }

        var sum = function(items) {
            var result = 0;
            items.each(function() {
                result += Number($(this).html().replace(',',''));
            });
            return result
        };

        function number_with_commas(num) {
            return num.toString().replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
        }

        //Updating statistics for visible table values
        function update_sum() {
            $('#sum-tutar').html('Tutar: ' + number_with_commas(sum($('.tutar').not('tr.hide .tutar'))) + ' TL');
            $('#sum-daire').html('Daire: ' + number_with_commas(sum($('.daire').not('tr.hide .daire'))));
            $('#sum-sayi').html('Sayi: ' + ($('#main tr').not('tr.hide').length - 1));
        }

        //Zebra stripes for the form
        function update_stripe() {
            $('#main tbody tr').css('background-color', '#ffffff');
            $('#main tr').not($('tr.hide')).filter(':odd').css('background-color', '#f5f5f5');
        }   

        function get_form(form, offer_pk){
            var result = null;
            $.ajax({
                        url: '/teklif/form/',
                        data: {form_type: form, pk: offer_pk},
                        type: 'get',
                        dataType: 'html',
                        async: false,
                        success: function(data) { result = data; }
                    });
            return result
        }

        //function position_pop(old_height){
        //    var popover = $('.popover');
        //    var current_height = popover.height();
        //    var current_top = parseInt(popover.css('top'));
        //    var height_dif = current_height - old_height;
        //    var new_top = current_top - height_dif
        //    popover.css('top', new_top);
        //}

        //Updating an existing row with newest values
        function update_row(pk){
            $('tr[data-pk="' + pk + '"]').load('/teklif/yenile/' + pk + '/ th, td', function(){
                update_sum(); 
                init_interaction($(this));
                update_last_action($(this));
				blink(pk);
            });
        }

        //Initializing an ajax form
        function init_form(type){
            var pop_height = $('.popover').height();
            var pk;
            $('form').ajaxForm({data: { form_type: type}, beforeSubmit: function(arr, $form, options){
                loading($('.content p'));
                $.each(arr,function(i,v){
                    if (v.name == 'teklif') pk = v.value
                });
            }, success: function(data){
                if(data == ''){
                    update_row(pk);
                    $('.close').click();
                } else {
                    $('.content p').html(data);
                    init_form(type);
                    //position_pop(pop_height); 
                }
            }});
        }

        //Durum dialogs form update for choosing an action
        function update_form(pk){
            var form_to_get = $('.content select option:selected').val();
            if(form_to_get){
                $('.content p form').remove();
                $('.content p').append(get_form(form_to_get, pk));
                init_form(form_to_get);
            }
        }

        function show_alert() {
            var current_count = Number($('#new-count').html())
            $('.alert-message').show('slow')
            $('#new-count').html(current_count + 1);
        }

        //Sorting function to figure out the latest offer
        var ascending = function(first, last){ return $(first).data('pk') - $(last).data('pk') }

        //Loop for requesting new offers from server
        function get_new_loop(){
            var latest = $('tbody tr, #new-stack tr').sort(ascending).filter(':last');
            $.get('/teklif/yeni/' + latest.data('pk') + '/', function(data){
                if (data) {
                    $('#new-stack').prepend(data)
                    show_alert();
                }
                setTimeout(function(){get_new_loop();}, 20000);
            })
        }

        //Appending new offers to dom
        function unleash(){
            var new_rows = $('#new-stack').html();
            $('#search').val('').change();
            $('.alert-message').hide('slow');
            $('tbody').prepend(new_rows);
			update_stripe();
			update_sum();
            $('#new-stack').html('');
            $('#new-count').html(0);
            $(new_rows).each(function(){
				pk = $(this).data('pk')
				update_row(pk);
			});
        }

        //Saving filters selected value to dom
        function update_filter(on_dom, current, search_item){
            var select = $(current).children(':selected').val();
            $(on_dom + ' option:selected').removeAttr('selected');
            $(on_dom + ' option[value="' + select + '"]').attr('selected','selected');
            search_item.search(select);
			$('.dropdown:last').removeClass('open');	
            $('.close').click();
        }

        //Preparing special title for closing popovers
        function get_title(element) {
            return  $(element).data('original-title') + '<span class="close" onclick="' + 
                    '$(this).parents(\u0027.popover\u0027).' + 
                    'fadeOut(\u0027fast\u0027, function(){$(this).remove();})">x</span>'
        }

        //Shortcut function for delayed hovering
        //function hover_after(element, time, execute){
        //    element.hover(function(){
        //        $.data(this, 'timer', setTimeout($.proxy(execute, this), time));
        //    }, function(){
        //        clearTimeout($.data(this, 'timer'));
        //    });
        //}

		function adjust_urgency_color(element){
			hour = element.html()
			if(hour >= 100){
            	red = 255;
				green = hour > 200 ? 130 : Math.floor(390 - (hour * 1.35));
				blue = green;
			} else {
				red = hour < 1 ? 130 : Math.floor(130 + (hour * 1.25));
				green = 255;
				blue = red;
			}
            element.parents('td').css('background-color', 'rgb(' + red + ',' + green + ',' + blue + ')');
		}

        function update_last_action(elements){
            var now = new Date().getTime();
            elements.find('.last-action').each(function(){
                date_string = $(this).html();
                date_args = date_string.split('-');
                var date = new Date(); 
                date.setFullYear(Number(date_args[0]), Number(date_args[1]) - 1, Number(date_args[2]));
                date.setHours(Number(date_args[3]));
                action = date.getTime();
                difference = now - action;
                dif_hour = difference > 0 ? Math.floor(difference / 3600000) : 0;
                $(this).html(dif_hour);
				adjust_urgency_color($(this));
            })
        }

        function init_interaction(elements){

            //Twipsy initializations
            elements.find('.static').twipsy({html: true, placement: 'below', trigger:'hover', delayIn:250});
            elements.find('.dynamic').twipsy({ html: true, placement: 'below', title: function(){ 
                var result = null;
                $.ajax({
                            url: ('/teklif/' + $(this).data('url') + '/' + $(this).parents('tr').data('pk') + '/'),
                            type: 'get',
                            dataType: 'html',
                            async: false,
                            success: function(data) { result = data; }
                        });
                return result
            }, delayIn:1000});

            //Popover intializations
            elements.find('.edit').click(function(){ 
                $('.twipsy').fadeOut();
                //$('.close').click();
                $(this).popover({trigger: 'manual', html: true, placement: 'below', content: function(){
                    return get_form($(this).data('form'), $(this).parents('tr').data('pk'))
                }, title: function(){ 
                    return get_title(this);
                }});
                $(this).popover('show'); 
                init_form($(this).data('form'));
            });
            elements.find('.durum-dialog').click(function(){
                $('.twipsy').fadeOut();
                //$('.close').click();
                $(this).popover({html: true, placement: 'below', title: function(){ 
                    return get_title(this);
                }, trigger: 'manual', content: function(){
                    return  '<select style="margin-bottom:10px"class="span3" ' + 
                            'onchange="var pop_height = $(\u0027.popover\u0027).height();update_form(' + 
                            $(this).parents('tr').data('pk') + ');">' +  
                            '<option value="" selected="selected">Islem secin</option>' + 
                            '<option value="genel">Genel guncelleme</option>' + 
                            '<option value="iletisim">Iletisime gectim</option>' + 
                            '<option value="yonlendi">Yonlendirdim</option>' + 
                            '<option value="aldik">Isi aldik</option>' + 
                            '<option value="sebep">Isi kaybettik</option>' + 
                            '<option value="iptal">Iptal ediyorum</option>' + 
                            '</select>'
                }});
                $(this).popover('show')
            });
        }

		function sifirla(){
			search_tutar.search('');
			$('.dropdown:last').removeClass('open');
			$('tbody tr').removeAttr('data-hiders');
			$('select').children('option[selected="selected"]').removeAttr('selected')
			$('select').each(function(){
				$(this).children('option:first').attr('selected','selected');
			});
		}


        $(function() {

            $('.filter').click(function(){
                $('.close').click();
                $(this).popover({html: true, placement: 'right', title: function(){ 
                    return get_title(this); 
                }, trigger: 'manual', content: function(){
                    return $($(this).data('search')).html()
                }});
                $(this).popover('show');
                $('.popover').css('position','fixed');
            });

            //$('.dosya-dialog').popover({html: true, placement: 'above', title: function(){ 
            //  return get_title(this)
            //}, trigger: 'manual', content: function(){
            //  return  '<a class="btn primary">Dosyayi Ac</a> <a class="btn" onclick="' +
            //          '$(\u0027.content p\u0027).html(get_form(' + '\u0027' + $(this).data('form') + 
            //          '\u0027,' + $(this).parents('tr').data('pk') + '));init_form(\u0027' + 
            //          $(this).data('form') + '\u0027);">Yeni Ekle</a>'            
            //}});

            //Table sort initializations
            $.tablesorter.addParser({
                id: 'comma-number',
                is: function(s){
                    return false;
                },
                format: function(s){
    				number = $(s).html().replace(/[\t\n\s\,]/g,'');
					if(number == 'x'){
						return 0
					} else {
                    	return parseInt(number);
					}
                },
                type: 'numeric'
            });
            $.tablesorter.addParser({
                id: 'last-action',
                is: function(s){
                    return false;
                },
                format: function(s){
					action = $(s).filter('.last-action').html().replace(/[\t\n\s\,]/g,'');
                    return parseInt(action);
                },
                type: 'numeric'
            });
            $.tablesorter.addParser({
                id: 'date',
                is: function(s){
                    return false;
                },
                format: function(s){
					action = $(s).filter('.tarih').html().replace(/[\t\n\s\,]/g,'');
                    return parseInt(action);
                },
                type: 'numeric'
            });
            $.tablesorter.addParser({
                id: 'special-text',
                is: function(s){
                    return false;
                },
                format: function(s){
					text = s.replace(new RegExp('<[^<]+\>', 'g'), "")
                    return text;
                },
                type: 'text'
            });
            $('thead tr').one('hover', function(){
                if(!sort_table){
                    sort_table = $('#main').tablesorter(
                        {
                            cssHeader: 'new-header',
                            headers: {
                                8: {
                                    sorter: 'comma-number'
                                },  
                                9: {
                                    sorter: 'comma-number'
                                },
                                0: {
                                    sorter: 'last-action'
                                },
                                1: {
                                    sorter: 'date'
                                },
                                3: {
                                    sorter: false
                                },
                                4: {
                                    sorter: 'special-text'
                                },
                                5: {
                                    sorter: 'special-text'
                                },
                                6: {
                                    sorter: 'special-text'
                                },
                                7: {
                                    sorter: 'special-text'
                                },
                                2: {
                                    sorter: 'special-text'
                                }
                            },
							textExtraction: function(node){return node.innerHTML;}
                    });
                }
            });
            $('#main').bind('sortEnd', function(){ update_stripe(); });

            //Filter initializations
            $('#search').one('focus', function(){
                if(!search_isim_mesaj){
                    search_isim_mesaj = $('#search').quicksearch('#main tbody tr', $.extend({} ,def_search_opts, {
                        selector: "div.isim-mesaj"
                    }));
                }
            });
            $('.dropdown:last').one('click', function(){
                    search_dosya = $().quicksearch('#main tbody tr', $.extend({}, def_search_opts, {
                        selector: "[data-form='dosya']",
                        testQuery: bool_test    
                    }));
                    search_durum = $().quicksearch('#main tbody tr', $.extend({}, def_search_opts, {
                        selector: "[data-form='durum']",
                        testQuery: text_test
                    }));
                    search_daire = $().quicksearch('#main tbody tr', $.extend({}, def_search_opts, {
                        selector: "[data-form='daire']",
                        testQuery: number_bool_test
                    }));
                    search_tutar = $().quicksearch('#main tbody tr', $.extend({}, def_search_opts, {
                        selector: "[data-form='tutar']",
                        testQuery: number_bool_test
                    }));
                    search_tarih = $().quicksearch('#main tbody tr', $.extend({}, def_search_opts, {
                        selector: "div.tarih",
                        testQuery: number_bool_test
                    }));
                    search_sehir = $().quicksearch('#main tbody tr', $.extend({}, def_search_opts, {
                        selector: ".sehir",
                        testQuery: text_test
                    }));
                    search_sorumlu = $().quicksearch('#main tbody tr', $.extend({}, def_search_opts, {
                        selector: "[data-form='delege']",
                        testQuery: text_test
                    }));
            });

			//Twipsy to get iscilik
            //$('#sum-tutar').twipsy({ html: true, placement: 'below', title: function(){ 
            //    var result = null;
			//	var pk_list = ''
			//	var offers = $('tbody tr').not('.hide').each(function(i,v){
			//		comma = i > 0 ? '-' : '';
			//		pk_list += comma + $(this).data('pk');
			//	});
            //    $.ajax({
            //                url: ('/teklif/iscilik-tutar/'),
            //                type: 'get',
			//				data: {pks: pk_list},
            //                dataType: 'html',
            //                async: false,
            //                success: function(data) { result = data; }
            //            });
            //   return result
            //}, delayIn:1000});

            //Initialize twipsy and popovers for all rows
            $('tbody tr').one('hover', function(){init_interaction($(this));});

            //Update last action
            update_last_action($('tbody tr'));

            //Menu initialization
            $('.topbar').dropdown()

            //Get new offers initialization
            get_new_loop();

            //Update table stripe colors
            update_stripe();

			{% if pk %}
			attention({{ pk }});
			{% endif %}

            update_sum();

        })
	</script>
</head>
<body>
<div class="topbar">
	<div class="fill">
		<div class="container">
			<a class="brand" href="#">Audio Teklif</a>
			<ul class="nav">
<!-- Future feature 
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">Grafik</a>
					<ul class="dropdown-menu">
						<li><a>Tamamdir</a></li>
					</ul>
				</li>
-->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">Filtre</a>
					<ul class="dropdown-menu">
						<li><a href='#' onclick='sifirla();'>Sifirla</a></li>
						<li class='divider'></li>
						<li>
							<a  href='#' rel='popover' data-search='#search-tarih' 
							data-original-title='Tarih Filtresi' class='filter'>Tarih</a>
						</li>

						<li>
							<a  href='#' rel='popover' data-search='#search-sehir' 
							data-original-title='Sehir Filtresi' class='filter'>Sehir</a>
						</li>
						<li>
							<a  href='#' rel='popover' data-search='#search-sorumlu' 
								data-original-title='Sorumlu Filtresi' class='filter'>Sorumlu</a>
						</li>
						<li>
							<a  href='#' rel='popover' data-search='#search-durum' 
								data-original-title='Durum Filtresi' class='filter'>Durum</a>
						</li>
						<li>
							<a  href='#' rel='popover' data-search='#search-dosya'
								data-original-title='Teklif Filtresi' class='filter'>Teklif</a>
						</li>
						<li>
							<a  href='#' rel='popover' data-search='#search-daire'
								data-original-title='Daire Filtresi' class='filter'>Daire</a>
						</li>
						<li>
							<a  href='#' rel='popover' data-search='#search-tutar'
								data-original-title='Tutar Filtresi' class='filter'>Tutar</a>
						</li>
					</ul>
            	</li>
			</ul>
			<form class="pull-left">
				<input id="search" type="text" placeholder="Arama" class='span3'>
				<img class='loading' alt='ajax yukleniyor' style='display:none;' src='http://s.aucdn.net/resim/ajax-small.gif'>
			</form>
			<ul class="secondary-nav">
				<li><a href='/logout'>[{{ request.user.first_name }}]</a></li>
				<li><a id='sum-sayi'></a></li>
				<li><a id='sum-daire'></a></li>
				<li><a id='sum-tutar'></a></li>
			</ul>
		</div>
	</div>
</div>

<div class='container'>

	<div class='alert-message success' style='display:none;text-align:right'>
		<div style='float:left; margin-top:0px;'>
			<strong><span id='new-count'>0</span> tane yeni teklif var!</strong> 
			Yandaki butona basarak goruntuleyebilirsiniz.
		</div>
    	<span class="btn primary small" onclick="unleash()">Goruntule</span>
	</div>

	<div id='new-stack' class='hide'></div>

	<div id='search-dosya' class='hide'>
		<select style='margin-bottom:10px' class='span3' 
				onchange='update_filter("#search-dosya select", this, search_dosya);'>
			<option value="-" selected="selected">Hepsi</option>
			<option value="true">Var</option>
			<option value="false">Yok</option>
		</select>
	</div>

	<div id='search-durum' class='hide'>
		<select style='margin-bottom:10px' class='span3' 
				onchange='update_filter("#search-durum select", this, search_durum);'>
			<option value="-" selected="selected">Hepsi</option>
			<option value="Eylem İletişime Delege Teklif Yönlendirildi">Acik Isler</option>
			<option value="Aldık Kaybettik İptal">Kapali Isler</option>
			<option value="Eylem Yapılmadı">Eylem Yapilmadi</option>
			<option value="İletişime Geçildi">İletişime Geçildi</option>
			<option value="Delege Edildi">Delege Edildi</option>
			<option value="Teklif Verildi">Teklif Verildi</option>
			<option value="Yönlendirildi">Yönlendirildi</option>
			<option value="İşi Aldık">İşi Aldık</option>
			<option value="İşi Kaybettik">İşi Kaybettik</option>
			<option value="İptal">İptal</option>
		</select>
	</div>

	<div id='search-daire' class='hide'>
		<select style='margin-bottom:10px' class='span3 exists'
				onchange='update_filter("#search-daire select.exists", this, search_daire);'>
			<option value="-" selected="selected">Hepsi</option>
			<option value="true">Var</option>
			<option value="false">Yok</option>
		</select>
		<select style='margin-bottom:10px' class='span3 bigger'
				onchange='update_filter("#search-daire select.bigger", this, search_daire);'>
			<option value="-" selected="selected">Hepsi</option>
			<option value=">5">5</option>
			<option value=">10">10</option>
			<option value=">50">50</option>
			<option value=">100">100</option>
			<option value=">150">150</option>
			<option value=">200">200</option>
			<option value=">250">250</option>
			<option value=">300">300</option>
			<option value=">350">350</option>
			<option value=">400">400</option>
			<option value=">450">450</option>
			<option value=">500">500</option>
			<option value=">1000">1000</option>
			<option value=">1500">1500</option>
			<option value=">2000">2000</option>
		</select> den buyuk
		<select style='margin-bottom:10px' class='span3 smaller'
				onchange='update_filter("#search-daire select.smaller", this, search_daire);'>
			<option value="-" selected="selected">Hepsi</option>
			<option value="<5">5</option>
			<option value="<10">10</option>
			<option value="<50">50</option>
			<option value="<100">100</option>
			<option value="<150">150</option>
			<option value="<200">200</option>
			<option value="<250">250</option>
			<option value="<300">300</option>
			<option value="<350">350</option>
			<option value="<400">400</option>
			<option value="<450">450</option>
			<option value="<500">500</option>
			<option value="<1000">1000</option>
			<option value="<1500">1500</option>
			<option value="<2000">2000</option>
		</select> den kucuk
	</div>

	<div id='search-tutar' class='hide'>
		<select style='margin-bottom:10px' class='span3 exists'
				onchange='update_filter("#search-tutar select.exists", this, search_tutar);'>
			<option value="-" selected="selected">Hepsi</option>
			<option value="true">Var</option>
			<option value="false">Yok</option>
		</select>
		<select style='margin-bottom:10px' class='span3 bigger'
				onchange='update_filter("#search-tutar select.bigger", this, search_tutar);'>
			<option value="-" selected="selected">Hepsi</option>
			<option value=">500">500</option>
			<option value=">1000">1,000</option>
			<option value=">5000">5,000</option>
			<option value=">10000">10,000</option>
			<option value=">50000">50,000</option>
			<option value=">100000">100,000</option>
		</select> den buyuk
		<select style='margin-bottom:10px' class='span3 smaller'
				onchange='update_filter("#search-tutar select.smaller", this, search_tutar);'>
			<option value="-" selected="selected">Hepsi</option>
			<option value="<500">500</option>
			<option value="<1000">1,000</option>
			<option value="<5000">5,000</option>
			<option value="<10000">10,000</option>
			<option value="<50000">50,000</option>
			<option value="<100000">100,000</option>
		</select> den kucuk
	</div>

	<div id='search-tarih' class='hide'>
		<select style='margin-bottom:10px' class='span3 exists'
				onchange='update_filter("#search-tarih select.exists", this, search_tarih);'>
			<option value="-" selected="selected">Hepsi</option>
			<option value=">734451">5 Kasim 2011</option>
			<option value=">734456">10 Kasim 2011</option>
			<option value=">734461">15 Kasim 2011</option>
			<option value=">734466">20 Kasim 2011</option>
			<option value=">734471">25 Kasim 2011</option>
			<option value=">734476">30 Kasim 2011</option>
			<option value=">734482">5 Aralik 2011</option>
			<option value=">734487">10 Aralik 2011</option>
			<option value=">734492">15 Aralik 2011</option>
			<option value=">734497">20 Aralik 2011</option>
			<option value=">734502">25 Aralik 2011</option>
			<option value=">734507">30 Aralik 2011</option>
			<option value=">734512">5 Ocak 2012</option>
			<option value=">734517">10 Ocak 2012</option>
			<option value=">734522">15 Ocak 2012</option>
			<option value=">734527">20 Ocak 2012</option>
			<option value=">734532">25 Ocak 2012</option>
			<option value=">734537">30 Ocak 2012</option>
			<option value=">734542">5 Subat 2012</option>
			<option value=">734547">10 Subat 2012</option>
			<option value=">734552">15 Subat 2012</option>
		</select> den sonra
		<select style='margin-bottom:10px' class='span3 bigger'
				onchange='update_filter("#search-tarih select.bigger", this, search_tarih);'>
			<option value="-" selected="selected">Hepsi</option>
			<option value="<734451">5 Kasim 2011</option>
			<option value="<734456">10 Kasim 2011</option>
			<option value="<734461">15 Kasim 2011</option>
			<option value="<734466">20 Kasim 2011</option>
			<option value="<734471">25 Kasim 2011</option>
			<option value="<734476">30 Kasim 2011</option>
			<option value="<734482">5 Aralik 2011</option>
			<option value="<734487">10 Aralik 2011</option>
			<option value="<734492">15 Aralik 2011</option>
			<option value="<734497">20 Aralik 2011</option>
			<option value="<734502">25 Aralik 2011</option>
			<option value="<734507">30 Aralik 2011</option>
			<option value="<734512">5 Ocak 2012</option>
			<option value="<734517">10 Ocak 2012</option>
			<option value="<734522">15 Ocak 2012</option>
			<option value="<734527">20 Ocak 2012</option>
			<option value="<734532">25 Ocak 2012</option>
			<option value="<734537">30 Ocak 2012</option>
			<option value="<734542">5 Subat 2012</option>
			<option value="<734547">10 Subat 2012</option>
			<option value="<734552">15 Subat 2012</option>
		</select> den once
	</div>

	<div id='search-sehir' class='hide'>
		<select style='margin-bottom:10px' class='span3' 
				onchange='update_filter("#search-sehir select", this, search_sehir);'>
			<option value="-" selected="selected">Hepsi</option>
			<option value="Adana Osmaniye Hatay">Adana Bolge</option>
			<option value="Ankara Bolu Çankırı Kırşehir Çorum Yozgat Kırıkkale">Ankara Bolge</option>
			<option value="Antalya Burdur Isparta">Antalya Bolge</option>
			<option value="Bursa Balıkesir Çanakkale Yalova">Bursa Bolge</option>
			<option value="Diyarbakır Elazığ Tunceli Bingöl Mardin Batman Muş Bitlis Siirt Şırnak Hakkari Van Ağrı Iğdır">Diyarbakir Bolge</option>
			<option value="Eskişehir Afyon Kütahya Bilecik">Eskisehir Bolge</option>
			<option value="Gaziantep Şanlıurfa Kilis">Gaziantep Bolge</option>
			<option value="Istanbul (An...">Istanbul Anadolu Bolge</option>
			<option value="Istanbul (Av...">Istanbul Rumeli Bolge</option>
			<option value="Izmir Manisa Uşak Denizli Aydın Muğla">Izmir Bolge</option>
			<option value="Kayseri Nevşehir Sivas">Kayseri Bolge</option>
			<option value="Kocaeli Sakarya Düzce Zonguldak Bartın Karabük">Kocaeli Bolge</option>
			<option value="Konya Karaman Aksaray Niğde">Konya Bolge</option>
			<option value="Malatya Kahramanmaraş Adıyaman">Malatya Bolge</option>
			<option value="Mersin">Mersin Bolge</option>
			<option value="Samsun Sinop Kastamonu Amasya Tokat Ordu">Samsun Bolge</option>
			<option value="Trabzon Giresun Gümüşhane Bayburt Rize Erzurum Artvin Ardahan Erzincan Kars">Trabzon Bolge</option>
			<option value="Tekirdağ Edirne Kırklareli">Trakya Bolge</option>
			<option value="Adana">Adana</option>
			<option value="Adıyaman">Adıyaman</option>
			<option value="Afyonkarahisar">Afyonkarahisar</option>
			<option value="Ağrı">Ağrı</option>
			<option value="Aksaray">Aksaray</option>
			<option value="Amasya">Amasya</option>
			<option value="Ankara">Ankara</option>
			<option value="Antalya">Antalya</option>
			<option value="Ardahan">Ardahan</option>
			<option value="Artvin">Artvin</option>
			<option value="Aydın">Aydın</option>
			<option value="Balıkesir">Balıkesir</option>
			<option value="Bartın">Bartın</option>
			<option value="Batman">Batman</option>
			<option value="Bayburt">Bayburt</option>
			<option value="Bilecik">Bilecik</option>
			<option value="Bingöl">Bingöl</option>
			<option value="Bitlis">Bitlis</option>
			<option value="Bolu">Bolu</option>
			<option value="Burdur">Burdur</option>
			<option value="Bursa">Bursa</option>
			<option value="Çanakkale">Çanakkale</option>
			<option value="Çankırı">Çankırı</option>
			<option value="Çorum">Çorum</option>
			<option value="Denizli">Denizli</option>
			<option value="Diyarbakır">Diyarbakır</option>
			<option value="Düzce">Düzce</option>
			<option value="Edirne">Edirne</option>
			<option value="Elazığ">Elazığ</option>
			<option value="Erzincan">Erzincan</option>
			<option value="Erzurum">Erzurum</option>
			<option value="Eskişehir">Eskişehir</option>
			<option value="Gaziantep">Gaziantep</option>
			<option value="Giresun">Giresun</option>
			<option value="Gümüşhane">Gümüşhane</option>
			<option value="Hakkari">Hakkari</option>
			<option value="Hatay">Hatay</option>
			<option value="Iğdır">Iğdır</option>
			<option value="Isparta">Isparta</option>
			<option value="Mersin">Mersin</option>
			<option value="Istanbul (An...">İstanbul (Anadolu)</option>
			<option value="Istanbul (Av...">İstanbul (Avrupa)</option>
			<option value="Izmir">İzmir</option>
			<option value="Karabük">Karabük</option>
			<option value="Kars">Kars</option>
			<option value="Kastamonu">Kastamonu</option>
			<option value="Kayseri">Kayseri</option>
			<option value="Kırklareli">Kırklareli</option>
			<option value="Kırşehir">Kırşehir</option>
			<option value="Kocaeli">Kocaeli</option>
			<option value="Konya">Konya</option>
			<option value="Kütahya">Kütahya</option>
			<option value="Malatya">Malatya</option>
			<option value="Manisa">Manisa</option>
			<option value="Kahramanmaraş">Kahramanmaraş</option>
			<option value="Karaman">Karaman</option>
			<option value="Kırıkkale">Kırıkkale</option>
			<option value="Kilis">Kilis</option>
			<option value="Mardin">Mardin</option>
			<option value="Muğla">Muğla</option>
			<option value="Muş">Muş</option>
			<option value="Nevşehir">Nevşehir</option>
			<option value="Niğde">Niğde</option>
			<option value="Ordu">Ordu</option>
			<option value="Osmaniye">Osmaniye</option>
			<option value="Rize">Rize</option>
			<option value="Sakarya">Sakarya</option>
			<option value="Samsun">Samsun</option>
			<option value="Siirt">Siirt</option>
			<option value="Sinop">Sinop</option>
			<option value="Sivas">Sivas</option>
			<option value="Şırnak">Şırnak</option>
			<option value="Tekirdağ">Tekirdağ</option>
			<option value="Tokat">Tokat</option>
			<option value="Trabzon">Trabzon</option>
			<option value="Tunceli">Tunceli</option>
			<option value="Şanlıurfa">Şanlıurfa</option>
			<option value="Uşak">Uşak</option>
			<option value="Van">Van</option>
			<option value="Yalova">Yalova</option>
			<option value="Yozgat">Yozgat</option>
			<option value="Zonguldak">Zonguldak</option>
		</select>
	</div>

	<div id='search-sorumlu' class='hide'>
		<select style='margin-bottom:10px' class='span3' 
				onchange='update_filter("#search-sorumlu select", this, search_sorumlu);'>
			<option value="-" selected="selected">Hepsi</option>
			<option value="Abdullah">Abdullah Erkan</option>
			<option value="Ahmet Serkan">Ahmet Serkan Güntaç</option>
			<option value="Ahmet">Ahmet Bulucu</option>
			<option value="Birkan">Birkan Kösedağ</option>
			<option value="Burak">Burak Tokmak</option>
			<option value="Burhanettin">Burhanettin Fidan</option>
			<option value="Cem">Cem Çelik</option>
			<option value="Cem">Cem Malkoç</option>
			<option value="Deniz">Deniz Falcıoğlu</option>
			<option value="Erdem">Erdem Çil</option>
			<option value="Ergün">Ergün Aydın</option>
			<option value="Erkan">Erkan Emir</option>
			<option value="Ertan">Ertan Aydın</option>
			<option value="Fatih">Fatih Şentürk</option>
			<option value="Gökhan">Gökhan Durak</option>
			<option value="Hakan">Hakan Güçlü</option>
			<option value="Halit">Halit Dere</option>
			<option value="Hande">Hande Yerebakan</option>
			<option value="Hülya">Hülya Muslu</option>
			<option value="Hüseyin">Hüseyin Hüsmenoğlu</option>
			<option value="İlhan">İlhan Yetişkin</option>
			<option value="İsmail">İsmail Pekdoğan</option>
			<option value="Metin">Metin Tezel</option>
			<option value="Murat">Murat Nazli</option>
			<option value="Murat">Murat Şahin</option>
			<option value="Murat">Murat Tekin</option>
			<option value="Necmettin">Necmettin Adsay</option>
			<option value="Özkan">Özkan Aykut</option>
			<option value="Recai">Recai Çıtak</option>
			<option value="Semra">Semra Gürbüzoğlu</option>
			<option value="Sinan">Sinan Güngör</option>
			<option value="Timur">Timur Taymis</option>
			<option value="Turgay">Turgay Töngel</option>
			<option value="Yakup">Yakup Özel</option>
		</select>
	</div>

	<table id='main' class="bordered-table">
		<thead>
			<tr>
				<th>#</th>
				<th class='purple'>Tarih</th>
				<th class='green'>Musteri</th>
				<th class='red'>Mesaj</th>
				<th class='orange'>Sehir</th>
				<th class='blue'>Sorumlu</th>
				<th class='green'>Durum</th>
				<th class='orange'>Teklif</th>
				<th class='blue'>Daire</th>
				<th class='yellow'>Tutar</th>
			</tr>
		</thead>
		<tbody>
			{% for offer in offers %}
				{% include 'offer.html' with offer=offer %}
			{% endfor %}
		</tbody>
	</table>
</div>
</body>
</html>	
