{% if count != 0 %}
    <strong>Yapilanlar</strong>
{% endif %}
<dl id="yapilanlar">
  {% for yapilan in yapilanlar %}
    <dt id="y{{ yapilan.id }}">
        {{ teklif.bilgi.tarih|timesince:yapilan.tarih }} sonra - {{ yapilan.kullanici.get_full_name }}
    </dt>
    <dd>
        <p>Mesaj: {{ yapilan.mesaj }} 
{% if yapilan.durum %} <strong>|</strong> Bu isin durumu '{{ yapilan.durum.isim }}' olarak degistirildi{% endif %} 

{% if yapilan.dosya %} <strong>|</strong> Bu yoruma dosya eklenmis: <a href='{{ yapilan.dosya.url }}'>tiklayin</a><img src="http://upload.wikimedia.org/wikipedia/commons/8/84/Farm-Fresh_file_extension_pdf.png" height='22' width='22' />{% endif %} </p>
    </dd>
  {% endfor %}
</dl>
