<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="http://www.audio.com.tr/statik/bs/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
	<style>
		body {
		  padding-top: 50px;
		}
		.dropdown-menu {
			height: 400px;
			overflow-y: scroll;
		}
	</style>

	<script>
		function post(path, params, method) {
			method = method || "post"; // Set method to post by default if not specified.

			// The rest of this code assumes you are not using a library.
			// It can be made less wordy if you use one.
			var form = document.createElement("form");
			form.setAttribute("method", method);
			form.setAttribute("action", path);

			for(var key in params) {
				if(params.hasOwnProperty(key)) {
					var hiddenField = document.createElement("input");
					hiddenField.setAttribute("type", "hidden");
					hiddenField.setAttribute("name", key);
					hiddenField.setAttribute("value", params[key]);

					form.appendChild(hiddenField);
				 }
			}

			document.body.appendChild(form);
			form.submit();
		}
	</script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Audio Teklif Yonetim</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
		<!-- Single button -->
		<div class="btn-group" style='margin-top:20px;'>
		  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
			Temsilci Sil <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
			{% for temsilci in temsilciler %}
            <li><a href="#" onclick="post('degistir/', {'action': 'temsilci-sil', 'user_pk': {{ temsilci.pk }}})">{{ temsilci.first_name }} {{ temsilci.last_name }}</a></li>
			{% endfor %}
		  </ul>
		</div>
		  <button type="button" style="margin-top:20px;" class="btn btn-primary" data-toggle="modal" data-target="#temsilci-yarat">Temsilci Yarat</button>


      {% for bolge in bolgeler %}
      <div class="row bolge" data-bolgepk="{{ bolge.pk }}">
        <div class="col-md-12">
          <h3>{{ bolge.isim }} Bolgesi</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="btn-group pull-right">
                    <button type="button" class="btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                      Ekle
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
					  {% for sehir in sehirler %}
                      <li><a href="#" onclick="post('degistir/', {'action': 'bolge-sehir-ekle', 'bolge_pk': {{ bolge.pk }}, 'sehir_pk': {{ sehir.pk }}})">{{ sehir.isim }}</a></li>
					  {% endfor %}
                    </ul>
                  </div>
                  Sehirler
                </div>
                <ul class="list-group">
                  {% for sehir in bolge.sehir_set.all %}
                  <li class="list-group-item sehir" data-sehirpk="{{ sehir.pk }}">
                    {{ sehir.isim }}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="btn-group pull-right">
                    <button type="button" class="btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                      Ekle
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
					  {% for temsilci in temsilciler %}
                      <li><a href="#" onclick="post('degistir/', {'action': 'bolge-temsilci-ekle', 'bolge_pk': {{ bolge.pk }}, 'user_pk': {{ temsilci.pk }}})">{{ temsilci.first_name }} {{ temsilci.last_name }}</a></li>
					  {% endfor %}
                    </ul>
                  </div>
                  Musteri Temsilcileri
                </div>
                <ul class="list-group">
                  {% for temsilci in bolge.calisanlar %}
                  <li class="list-group-item temsilci" data-temsilcipk="{{ temsilci.user.pk }}">
                    <div class="pull-right">
                      <button type="button"  onclick="post('degistir/', {'action': 'temsilci-bolgeden-cikart', 'user_pk': {{ temsilci.user.pk }}, 'bolge_pk': {{ bolge.pk }}})" class="btn-xs btn-default"> Cikart
                      </button>
                    </div>
                    {{ temsilci.user.get_full_name }}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div><!-- /.container -->


<div class="modal fade" id="temsilci-yarat" tabindex="-1" role="dialog" aria-labelledby="temsilci-yarat" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Yeni Temsilci</h4>
      </div>
      <div class="modal-body">

<form role="form" id='yarat-form' action='degistir/' method='post'>
  <div class="form-group">
    <label for="isim">Isim</label>
    <input type="text" name="isim" class="form-control" id="isim" placeholder="Ahmet">
  </div>
  <div class="form-group">
    <label for="soyisim">Soyisim</label>
    <input type="text" name="soyisim" class="form-control" id="soyisim" placeholder="Can">
  </div>
  <div class="form-group">
    <label for="kullanici-adi">Kullanici Adi</label>
    <input type="text" name="kullanici-adi" class="form-control" id="kullanici-adi" placeholder="ahmetcan">
  </div>
    <input type="hidden" name="action" id="action" value="temsilci-yarat">
  <div class="form-group">
    <label for="email">Email adresi</label>
    <input type="email" name="email" class="form-control" id="email" placeholder="temsilci@audio.com.tr">
  </div>

	<div class="form-group">
		<label for="bolge">Bolge</label>
		<select class="form-control" name="bolge" id="bolge">
		  {% for bolge in bolgeler %}
		  <option>{{ bolge.isim }}</option>
		  {% endfor %}
		</select>
	</div>
 


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Iptal</button>
        <button type="submit" class="btn btn-primary" >Yarat</button>
      </div>
</form>
    </div>
  </div>
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://www.audio.com.tr/statik/bs/js/bootstrap.min.js"></script>
    <script src="http://www.audio.com.tr/statik/bs/js/bootstrap-modal.js"></script>
  </body>
</html>
