{% extends 'taban.html' %}
{% load fb_versions %}
{% block head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/anasayfa.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/anasayfa.css" />
{% endblock %}

{% block icerik %}
<div class="grid_14 set4">
 <div class="grid_14 topd"></div>
 <div class="grid_1 alpha topd"></div>
 <div class="grid_12 jcarousellite " id='haberler'>
  <ul>
   {% for h in haber %}
   <li>
    <div class="grid_12">
     <div class="grid_12" ><strong>{{ h.baslik }}</strong></div>
     <div class="grid_8 alpha">{{ h.icerik }}</div>
     <div class="grid_4 omega centered">
      <img src="{% version h.resim.path 'haber_ufak' %}" />
     </div>
    </div>
   </li>
   {% endfor %}
  </ul>	
 </div>
 <div class="grid_1 omega topd"></div>
</div>
<div class="grid_14"><img src="{{ sol_resim.gorunum.url }}" /></div>
<div class="grid_14"><img src="{{ sag_resim.gorunum.url }}" /></div>
<div class="grid_14">
 <div class="grid_14 set4_1">
  <div class="grid_14 topd"></div>
  <div class="grid_1 alpha topd"></div>
  <div class="grid_12 yeni_urunler" >
   <ul>
    {% for urun in yeni_urun %}
    <li style='height:85px'>
     <div class="grid_12" >
      <div class="grid_7 alpha centered" style='margin-top:10px;'><a style='text-decoration:none;' href="/urun/{{ urun.urun.slug }}">{{ urun.urun.isim }}</a></div>
      <div class="grid_5 omega centered"><a href="/urun/{{ urun.urun.slug }}"><img src="{% version urun.urun.resim.path 'yeni_ufak' %}"/></a></div>
     </div>
    </li>
    {% endfor %}
   </ul>
  </div>
  <div class="grid_1 omega topd"></div>
 </div>
 <div class="grid_14 set4_2">
  <div class="grid_14 topd"></div>
  <div class="grid_12 push_1"><strong>{{ sag_orta_yazi.yazi }}</strong></div>
 </div>
 <div class="grid_14 set4_3">
  <div class="grid_14 topd"></div>
  <div class="grid_12 push_1 "><strong>{{ sag_alt_yazi.yazi }}</strong></div>
 </div>
</div>
<div class="clear"></div>
{% endblock %}




