{% extends 'taban.html' %}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/varsayilan.css" />
<title>{{ flatpage.title }}</title>
{% endblock %}

{% block icerik %}
<div class="grid_56">
 <div class="grid_56"><img src="{{ STATIC_URL }}resim/b1_top.jpg" /></div>
 <div class="grid_56 one">
  <div class="grid_52 push_2">
   {% include 'ozelSayfa/sistem_liste.html' with tip='Goruntulu' sistemler=goruntulu class='alpha' %}
   {% include 'ozelSayfa/sistem_liste.html' with tip='Sesli' sistemler=sesli class='omega' %}
  </div>
 </div>
 <div class="grid_56"><img src="{{ STATIC_URL }}resim/b1_bottom.jpg" /></div>
</div>
<div class="clear"></div>
{% endblock %}
