<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
 <meta charset="utf-8" />
 <title>Audio Elektronik</title>
 <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
 <link rel="stylesheet" href="{{ STATIC_URL }}css/text.css" />
 <link rel="stylesheet" href="{{ STATIC_URL }}css/960a.css" />
 <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/superfish.css" /> 
 <link rel="stylesheet" href="{{ STATIC_URL }}css/taban.css" />
 <link rel="stylesheet" href="{{ STATIC_URL }}css/varsayilan.css" />
 <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fancybox.css" type="text/css" media="screen" />
 <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/taban.js"></script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.hoverIntent.minified.js"></script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/supersubs.js"></script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.js"></script> 
 <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox.js"></script> 
 <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.js"></script>
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script> 

 {% block head %}
 {% endblock %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26169028-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
 <div id='bkground'> 
  <div class="container_56">
   <div class="grid_18 centered">
    <img src="{{ STATIC_URL }}resim/logo.jpg" />
   </div>  
   <div class="grid_38">
     <div class="grid_38 harita"></div>
     <div class="grid_38">
      {% include "menu.html" with alt_limit=1 ust_limit=6 %}
     </div>
   </div>
   <div class="clear"></div>  

   <div class="grid_56 spacer"></div>
   <div class="clear"></div> 

   <div class="grid_56 banner" style='overflow:hidden;'>
    {% for a in afis %}
    <img src="{{ a.resim.url }}" alt="{{a.yazi}}"/>
    {% endfor %}
   </div>
   <div class="clear"></div>

   <div class="grid_56 spacer"></div>
   <div class="clear"></div> 

   <div class="grid_56">  
    {% include "menu.html" with alt_limit=7 ust_limit=13 %}
   </div>
   <div class="clear"></div>

   <div class="grid_56 spacer"></div>
   <div class="clear"></div> 

  {% block icerik %}
  {% endblock %}

  </div>
  <img src="{{ STATIC_URL }}resim/bottom.jpg" />
 </div>
</body>
</html>
