.one {
	background-size: 	100%;
	margin:			0 auto;
	background-image:	url('/statik/resim/b1_back.jpg');
	background-repeat: 	repeat-y;
}

.two {
	background-size: 	100%;
	margin:			0 auto;
	background-image:	url('/statik/resim/ikili_orta_r3_c1.jpg');
	background-repeat: 	repeat-y;
}

.set4 {
	height:			265px;
	background-image: 	url('/statik/resim/basic_4.jpg');
}

.set4b {
	height:			265px;
	background-image: 	url('/statik/resim/basic.jpg');
}

.set4k {
	height:			265px;
	background-image: 	url('/statik/resim/konsept.jpg');
}

.set4_1 {
	height:			114px;
	background-image: 	url('/statik/resim/basic_4RU_r1_c1.jpg');
}

.set4_2 {
	height:			69px;
	background-image: 	url('/statik/resim/basic_4RU_r2_c1.jpg');
}

.set4_3 {
	height:			82px;
	background-image: 	url('/statik/resim/basic_4RU_r3_c1.jpg');
}
