{% extends "taban.html" %}
{% load url from future %}

{% block icerik %}
{% include 'tekli_ac.html' %}
<div class='grid_30 prefix_2 suffix_18'>

<h1>Kullanici Girisi</h1>
{% if form.errors %}
<p>Kullanici adi veya sifreniz yanlis. Tekrar deneyin.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Giris" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
<div class='clear'></div>
{% include 'tekli_kapat.html' %}

{% endblock %}
