<div class="grid_{{ sira_grid }}">
 <div class="grid_{{ sira_grid }}"><img src="{{ STATIC_URL }}resim/b{{ sira }}_top.jpg" /></div>
 <div class="grid_{{ sira_grid }} {% if sira == 1 %}one{% else %}two{% endif%}">
  <div class='grid_{{ sira_grid }}' style='height:10px;'></div>
  <div class="grid_{{ sira_grid_inner }} push_{{ sira_grid_push }}">
   {% for sistem in urun.sistem.all %}
   <div class="grid_7 alpha"><img src="{{ sistem.tanitim.url }}"/></div><div class="grid_{{ tanitim_grid }} omega">{{ sistem.aciklama }}</div>
   {% endfor %}
  </div>
 </div>
 <div class="grid_{{ sira_grid }}"><img src="{{ STATIC_URL }}resim/b{{ sira }}_bottom.jpg"/></div>
</div>
