{% extends 'taban.html' %}
{% load fb_versions %}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/varsayilan.css" />
{% endblock %}

{% block icerik %}
<div class="grid_56">
 <div class="grid_56"><img src="{{ STATIC_URL }}resim/b1_top.jpg" /></div>
 <div class="grid_56 one">
  <div class="grid_54 push_1">

   <div class="grid_53 push_1">
    <img src="{{ STATIC_URL }}resim/{{ urun.seri }}.jpg" />
   </div>
   <div class="grid_27 alpha">
    <div class="grid_27">
     <strong>{{ urun.isim }}</strong>
    </div>
    <div class="grid_27">
     {% if urun.resim.orientation == "Landscape"  %}
     <img src="{% version urun.resim.path 'enlem' %}"/>
     {% else  %}
     <img src="{% version urun.resim.path 'boylam' %}"/>
     {% endif%}
    </div>
   </div>
   <div class="grid_23">
    <div class="grid_23">
     <strong>Urun Ozellikleri</strong>
    </div>
    {% for ozellik in urun.ozellik.all %}
    <div class="grid_23">- {{ ozellik.isim }}</div>
    {% endfor %}
   </div>
   <div class="grid_4 omega">
    <div class="grid_4 centered">
     <div class="grid_4">
      <img src="http://www.audio.com.tr/site_media/yukleme/fufak.jpg"/>
     </div>
     <div class="grid_4">
      Fiyat Listesi
     </div>
    </div>
    <div class="grid_4 centered">
     <div class="grid_4">
      <img src="http://www.audio.com.tr/site_media/yukleme/fufak.jpg"/>
     </div>
     <div class="grid_4">
      Imaj Brosuru
     </div>
    </div>
    <div class="grid_4 centered">
     <div class="grid_4">
      <img src="http://www.audio.com.tr/site_media/yukleme/fufak.jpg"/>
     </div>
     <div class="grid_4">
      Teknik Manuel
     </div>
    </div>
   </div>

  </div>
 </div>
 <div class="grid_56"><img src="{{ STATIC_URL }}resim/b1_bottom.jpg" /></div>
</div>
<div class="clear"></div>

<div class="grid_28">
 <div class="grid_28"><img src="{{ STATIC_URL }}resim/b2_top.jpg" /></div>
 <div class="grid_28 two">
  <div class="grid_25 push_2">
   {% for sistem in urun.sistem.all %}
   <div class="grid_7 alpha"><img src="{{ sistem.tanitim.url }}"/></div><div class="grid_18 omega">{{ sistem.aciklama }}</div>
   {% endfor %}
  </div>
 </div>
 <div class="grid_28"><img src="{{ STATIC_URL }}resim/b2_bottom.jpg"/></div>
</div>

<div class="grid_28">
 <div class="grid_28"><img src="{{ STATIC_URL }}resim/b2_top.jpg" /></div>
 <div class="grid_28 two">
  <div class="grid_26 push_1">
   <div class="grid_13 alpha">
    <div class="grid_13 centered"><img src="{{ STATIC_URL }}resim/konsept.jpg"/></div>
    <div class="grid_13 centered">
     {% for panel in urun.panel.all %}
     {% if panel.seri == 'konsept' %}<img src="{{ panel.resim.url }}"/>{% endif %}
     {% endfor %}
    </div>
    <div class="grid_13">
     <strong>Konsept Serisi Paneller</strong>
     {% for panel in urun.panel.all %}
     {% if panel.seri == 'konsept' %}<div class="grid_13">- {{ panel.isim }}</div>{% endif %}
     {% endfor %}
    </div> 
   </div>
   <div class="grid_13 omega">
    <div class="grid_13 centered"><img src="{{ STATIC_URL }}resim/basic.jpg"/></div>
    <div class="grid_13 centered">
     {% for panel in urun.panel.all %}
     {% if panel.seri == 'basic' %}<img src="{{ panel.resim.url }}"/>{% endif %}
     {% endfor %}
    </div>
    <div class="grid_13">
     <strong>Basic Serisi Paneller</strong>
     {% for panel in urun.panel.all %}
     {% if panel.seri == 'basic' %}<div class="grid_13">- {{ panel.isim }}</div>{% endif %}
     {% endfor %}
    </div>
   </div>
  </div>
 </div>
 <div class="grid_28"><img src="{{ STATIC_URL }}resim/b2_bottom.jpg"/></div>
</div>
<div class="clear"></div>

{% endblock %}
