td {
    width:100px;
}

ol {
    list-style:none;
}

label {
    position:absolute;
    width:80px;
}

span, input, textarea {
    margin-left:80px;
}

div.istek {
    background-color:#CEF6F5;
    margin-left:2px;
    border-radius:6px;
}

div.istek:hover {
    background-color:#F7BE81;
}
