.centered {
    text-align: center;
}

.buton {
    background-color: #C0C9C9;
    float:left;
    position:relative;
    top: 50%;
}

.dokuman {
    float:left;
    background-color: #FFFFFF;
}

#container{
    width: 1900px;
    height: 900px;
    background-color: #C0C9C9;
}

.tikla{
    cursor: pointer;
}

h3,p {
    margin: 0px;
}

